.productos-container {
  padding: 20px;
  font-family: 'Arial', sans-serif; /* Ensure a clear font */
  -webkit-font-smoothing: antialiased; /* Improve font rendering */
  -moz-osx-font-smoothing: grayscale; /* Improve font rendering */
}

.productos-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.productos-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--container-background);
  padding: 20px;
  border-radius: 10px;
  z-index: 1001;
  width: 80%;
  max-width: 500px;
  max-height: 80vh; /* Add max-height */
  overflow-y: auto; /* Add vertical scrollbar */
}

.productos-modal-content {
  position: relative;
  font-family: 'Arial', sans-serif; /* Ensure a clear font */
  -webkit-font-smoothing: antialiased; /* Improve font rendering */
  -moz-osx-font-smoothing: grayscale; /* Improve font rendering */
}

.edit-productos-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1002;
}

.edit-productos-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--container-background);
  padding: 20px;
  border-radius: 10px;
  z-index: 1003;
  width: 80%;
  max-width: 500px;
  max-height: 80vh; /* Add max-height */
  overflow-y: auto; /* Add vertical scrollbar */
}

.edit-productos-modal-content {
  position: relative;
  font-family: 'Arial', sans-serif; /* Ensure a clear font */
  -webkit-font-smoothing: antialiased; /* Improve font rendering */
  -moz-osx-font-smoothing: grayscale; /* Improve font rendering */
}

.productos-close {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.productos-form {
  display: flex;
  flex-direction: column;
}

.productos-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.productos-label {
  margin-bottom: 5px;
  color: var(--text-color);
}

.productos-input {
  padding: 10px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  background: var(--input-background);
  color: var(--text-color);
}

.productos-button {
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 10px;
}

.productos-button:hover {
  background-color: var(--button-hover-color);
}

.import-button {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  background: var(--button-color);
  color: var(--button-text-color);
  cursor: pointer;
}

.import-button:hover {
  background-color: var(--button-hover-color);
}

.category-select {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  background: var(--input-background);
  color: var(--text-color);
}

.productos-list {
  margin-top: 20px;
}

.productos-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  background: var(--input-background);
  color: var(--text-color);
  margin-bottom: 10px;
}

.productos-item.disable {
  background: rgba(255, 0, 0, 0.344);
}

.productos-item .button-container {
  margin-left: auto; /* Align buttons to the right */
}

.productos-item button {
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 10px;
  height: 40px;
  width: 40px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.productos-item button:hover {
  background-color: var(--button-hover-color);
  transform: scale(1.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

.modal-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}